
@{
    ViewBag.Title = "HW1";
}
<br>
<br>
<form>
    <div>
        姓名：
        <input type="text" name="name" id="name" required>
        <br><br>
    </div>

    <div>
        帳號：
        <input type="email" name="email" id="email" required>
        <br><br>
    </div>

    <div>
        密碼：
        <input type="password" id="pass" name="password" required>
        <br><br>
    </div>

    <div>
        性別：
        <input type="radio" name="gender" value="A"> 男性
        <input type="radio" name="gender" value="B"> 女性
        <br><br>
    </div>

    <div>
        興趣：
        <input type="checkbox" id="cbox1" value="first_checkbox"> 游泳
        <input type="checkbox" id="cbox1" value="first_checkbox"> 閱讀
        <input type="checkbox" id="cbox1" value="first_checkbox"> 看電影

        <br><br>
    </div>
    <div>
        自我介紹：
        <textarea name="comment" form="usrform"></textarea>
    </div>
</form>


