
@{
    ViewBag.Title = "Index";
}

<h2>Hello</h2>
<br>
<h3>Today is 2002/04/28！</h3>

<br>
<h3>下面是圖片</h3>
<img src="https://cdn2.ettoday.net/images/4162/d4162862.jpg">
<br>
<br>

現在的時間是
@DateTime.Now
<br>
@{
    var success = true;
}

@if (success)
{
    <p>成功</p>
}
else { 
    <p>失敗</p>
}

print 1-10
@for (int i = 1; i <=10 ; i++)
{
    <p>@i</p>
}